/*! CSS Used from: http://themes.semicolonweb.com/html/canvas/style.css */
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: auto;
    }
}

li, ol, ul {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
    overflow: hidden;
}

::selection {
    background: #4cb66c;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #1ea054;
    color: #fff;
    text-shadow: none;
}

::-webkit-selection {
    background: #1ea054;
    color: #fff;
    text-shadow: none;
}

:active, :focus {
    outline: 0 !important;
}

body {
    line-height: 1.5;
    color: #555;
    font-family: Lato, sans-serif;
}

a {
    text-decoration: none !important;
    color: #1ea054;
}

a:hover {
    color: #222;
}

a img {
    border: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5 {
    color: #444;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 30px 0;
    font-family: Poppins, sans-serif;
}

h5 {
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: .875rem;
}

h4 {
    font-weight: 600;
}

h5 {
    font-weight: 700;
}

@media (max-width: 767.98px) {
    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1rem;
    }
}

address, form, ol, p, ul {
    margin-bottom: 30px;
}

small {
    font-family: Lato, sans-serif;
}

#wrapper {
    position: relative;
    float: none;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.line {
    clear: both;
    position: relative;
    width: 100%;
    margin: 4rem 0;
    border-top: 1px solid #eee;
}

.line.line-sm {
    margin: 2rem 0;
}

span.middot {
    display: inline-block;
    margin: 0 5px;
}

.nott {
    text-transform: none !important;
}

.topmargin {
    margin-top: 3rem !important;
}

.bottommargin {
    margin-bottom: 3rem !important;
}

.topmargin-sm {
    margin-top: 2rem !important;
}

.bottommargin-sm {
    margin-bottom: 2rem !important;
}

.topmargin-lg {
    margin-top: 5rem !important;
}

.bottommargin-lg {
    margin-bottom: 5rem !important;
}

.col-padding {
    padding: 4rem;
}

.inline-block {
    float: none !important;
    display: inline-block !important;
}

.center {
    text-align: center !important;
}

.mx-auto {
    float: none !important;
}

.color {
    color: #1ea054 !important;
}

.font-primary {
    font-family: Poppins, sans-serif;
}

.op-ts {
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.op-07 {
    opacity: .7 !important;
}

[class*=col-]:not([class*=sticky-]):not([class*=position-]) {
    position: relative;
}

[class*=col-mb-] {
    margin-bottom: calc(var(--col-mb) / -1);
}

[class*=col-mb-] > [class*=col-] {
    padding-bottom: var(--col-mb);
}

.col-mb-30 {
    --col-mb: 30px;
}

.col-mb-50 {
    --col-mb: 50px;
}

.min-vh-60 {
    min-height: 60vh !important;
}

@media (min-width: 768px) {
    .min-vh-md-100 {
        min-height: 100vh !important;
    }
}

.section {
    position: relative;
    width: 100%;
    margin: 60px 0;
    padding: 60px 0;
    background-color: #f9f9f9;
    overflow: hidden;
}

.parallax {
    background-color: transparent;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    overflow: hidden;
    will-change: transform;
}

.section .container {
    z-index: 2;
}

.fslider, .fslider .flexslider, .fslider .slide, .fslider .slider-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
}

.fslider {
    min-height: 32px;
}

.flexslider a:active, .flexslider a:focus {
    outline: 0;
    border: none;
}

.flex-control-nav, .slider-wrap {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}

.flexslider {
    position: relative;
    margin: 0;
    padding: 0;
}

.flexslider .slider-wrap > .slide {
    display: none;
    -webkit-backface-visibility: hidden;
}

.flexslider .slider-wrap img {
    width: 100%;
    display: block;
}

.slider-wrap::after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#header {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
    height: 60px !important;
}

@media (max-width: 1400px) {
    #header {
        height: 50px !important;
    }
}

#header-wrap {
    position: relative;
    background-color: #fff;
    width: 100%;
}

.header-wrap-clone {
    display: none;
}

.header-row {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    #header-wrap {
        position: fixed;
        height: auto;
        z-index: 299;
        box-shadow: 0 0 0 rgba(0, 0, 0, .1);
        transition: height .2s ease 0s, background-color .3s ease 0s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: left, top, transform;
    }

    .header-row {
        position: initial;
    }

    #header.transparent-header {
        background: 0 0;
        border-bottom: 1px solid transparent;
        z-index: 299;
    }

    #header + .include-header {
        margin-top: calc(-100px - 2px);
        display: inline-block;
        vertical-align: bottom;
        width: 100%;
    }

    .stretched .full-header #header-wrap > .container {
        width: 100%;
        max-width: none;
        padding: 0 30px;
    }

    #header.transparent-header.full-header #header-wrap {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    #logo img {
        -webkit-transition: height .4s ease, padding .4s ease, margin .4s ease, opacity .3s ease;
        transition: height .4s ease, padding .4s ease, margin .4s ease, opacity .3s ease;
    }

    #logo img {
        max-height: 100%;
    }

    .mega-menu-content, .sub-menu-container {
        -webkit-transition: top .4s ease;
        transition: top .4s ease;
    }

    .sticky-header #header-wrap {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    }

    .sticky-header.full-header #header-wrap {
        border-bottom: 1px solid #eee;
    }
}

@media (min-width: 1400px) {
    .header-wrap-clone {
        display: block;
        height: calc(100px + 1px);
    }
}

@media (max-width: 991.98px) {
    .sticky-header #header-wrap {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 299;
        background-color: #fff;
        border-bottom: 1px solid #eee;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .sticky-header .header-wrap-clone {
        display: block;
    }

    .sticky-header .menu-container {
        max-height: 60vh;
        margin: 1rem 0;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

#logo {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    margin-right: auto;
    max-height: 100%;
}

#logo a {
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 36px;
}

#logo img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: 100px;
}

#logo a.standard-logo {
    display: -ms-flexbox;
    display: flex;
}

#logo a.retina-logo {
    display: none;
}

@media (min-width: 992px) {
    .full-header #logo {
        padding-right: 30px;
        border-right: 1px solid #eee;
    }

    #header.transparent-header.full-header #logo {
        border-right-color: rgba(0, 0, 0, .1);
    }

    .sticky-header-shrink #header-wrap #logo img {
        height: 60px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #logo a.standard-logo {
        display: none;
    }

    #logo a.retina-logo {
        display: -ms-flexbox;
        display: flex;
    }
}

.primary-menu {
    display: -ms-flexbox;
    display: flex;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

#primary-menu-trigger {
    display: -ms-flex;
    display: flex;
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
    cursor: pointer;
    font-size: .875rem;
    width: 50px;
    height: 50px;
    line-height: 50px;
    justify-content: center;
    align-items: center;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

body:not(.top-search-open) .top-search-parent #primary-menu-trigger {
    opacity: 1;
    -webkit-transition: opacity .2s .2s ease, top .4s ease;
    -o-transition: opacity .2s .2s ease, top .4s ease;
    transition: opacity .2s .2s ease, top .4s ease;
}

.svg-trigger {
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform .4s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.svg-trigger path {
    fill: none;
    transition: stroke-dasharray .4s, stroke-dashoffset .4s;
    stroke: #333;
    stroke-width: 5;
    stroke-linecap: round;
}

.svg-trigger path:nth-child(1) {
    stroke-dasharray: 40 160;
}

.svg-trigger path:nth-child(2) {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform .4s;
}

.svg-trigger path:nth-child(3) {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform .4s, stroke-dashoffset .4s;
}

.menu-container {
    display: none;
    list-style: none;
    margin: 0;
    width: 100%;
}

.menu-item {
    position: relative;
}

.menu-item:not(:first-child) {
    border-top: 1px solid #eee;
}

.menu-link {
    display: block;
    line-height: 22px;
    padding: 14px 5px;
    color: #444;
    font-weight: 700;
    font-size: 0.85rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
}

.menu-link i {
    position: relative;
    top: -1px;
    font-size: .875rem;
    width: 16px;
    text-align: center;
    margin-right: 6px;
    vertical-align: top;
}

.menu-item:hover > .menu-link {
    color: #1ea054;
}

.mega-menu-content, .sub-menu-container {
    position: relative;
    padding-left: 15px;
    border-top: 1px solid #eee;
    list-style: none;
    margin-bottom: 0;
}

.sub-menu-container .menu-item:not(:first-child) {
    border-top: 1px solid #eee;
}

.sub-menu-container .menu-item > .menu-link {
    position: relative;
    padding: 11px 5px;
    font-size: .75rem;
    font-weight: 400;
    color: #666;
    letter-spacing: 0;
    font-family: Lato, sans-serif;
}

.sub-menu-container .menu-item:hover > .menu-link {
    font-weight: 700;
}

.sub-menu-container .menu-link div {
    position: relative;
}

.menu-item .sub-menu-trigger {
    display: block;
    position: absolute;
    cursor: pointer;
    outline: 0;
    border: none;
    background: 0 0;
    padding: 0;
    top: 9px;
    right: 0;
    width: 32px;
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    text-align: center;
    -webkit-transition: transform .3s ease;
    transition: transform .3s ease;
}

.menu-link div > i.icon-angle-down {
    display: none;
}

.sub-menu-container .sub-menu-trigger {
    font-size: 10px;
}

.sub-menu-container .menu-item .sub-menu-trigger {
    top: 6px;
}

.mega-menu:not(.mega-menu-full) .mega-menu-content .container {
    max-width: none;
}

.mega-menu-content {
    padding-left: 0;
}

@media (max-width: 991.98px) {
    .primary-menu {
        max-width: 100%;
    }

    .mega-menu-content .sub-menu-container {
        border-top: 1px solid #eee;
    }

    .mega-menu-content .sub-menu-container:not(.mega-menu-dropdown) {
        display: block !important;
    }

    .mega-menu-content .mega-menu-column {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
    }
}

.mega-menu-content .mega-menu-column:first-child {
    border-top: 0;
}

@media (min-width: 1400px) {
    .primary-menu {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }

    #primary-menu-trigger {
        display: none;
        opacity: 0;
        pointer-events: none;
        z-index: 0;
    }

    .menu-container:not(.mobile-primary-menu) {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
    }

    .full-header .primary-menu .menu-container {
        padding-right: .5rem;
        margin-right: .5rem;
    }

    .transparent-header.full-header .primary-menu .menu-container {
        border-right-color: rgba(0, 0, 0, .1);
    }

    .mega-menu {
        position: inherit;
    }

    .menu-container > .menu-item:not(:first-child) {
        margin-left: 2px;
    }

    .menu-item:not(:first-child) {
        border-top: 0;
    }

    .menu-item.menu-item-important .menu-link > div::after {
        content: '';
        display: inline-block;
        position: relative;
        top: -5px;
        left: 5px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #dc3545;
    }

    .menu-link {
        padding: 15px;
        -webkit-transition: margin .4s ease, padding .4s ease;
        -o-transition: margin .4s ease, padding .4s ease;
        transition: margin .4s ease, padding .4s ease;
    }

    .sticky-header-shrink .menu-container > .menu-item > .menu-link {
        padding-top: 19px;
        padding-bottom: 19px;
    }

    .mega-menu-content, .sub-menu-container {
        position: absolute;
        visibility: hidden;
        background-color: #fff;
        box-shadow: 0 13px 42px 11px rgba(0, 0, 0, .05);
        border: 1px solid #eee;
        border-top: 2px solid #1ea054;
        z-index: 399;
        top: 100%;
        left: 0;
        padding: 0;
    }

    .menu-container > .menu-item:not(.mega-menu) .sub-menu-container:not([class*=col]) {
        width: 220px;
    }

    .primary-menu:not(.on-click) .mega-menu-content, .primary-menu:not(.on-click) .menu-item:not(.mega-menu) .sub-menu-container {
        display: block;
        opacity: 0;
        margin-top: 15px;
        z-index: -9999;
        pointer-events: none;
        transition: opacity .3s ease, margin .25s ease;
    }

    .primary-menu:not(.on-click) .menu-item.mega-menu .mega-menu-content .sub-menu-container:not(.mega-menu-dropdown) {
        margin-top: 0;
        z-index: auto;
    }

    .primary-menu:not(.on-click) .menu-item.mega-menu:hover > .mega-menu-content .sub-menu-container:not(.mega-menu-dropdown) {
        pointer-events: auto;
    }

    .primary-menu:not(.on-click) .menu-item:hover > .mega-menu-content, .primary-menu:not(.on-click) .menu-item:hover > .sub-menu-container {
        opacity: 1;
        visibility: visible;
        margin-top: 0;
        z-index: 399;
        pointer-events: auto;
    }

    .primary-menu:not(.on-click) .menu-item.mega-menu .mega-menu-content .sub-menu-container:not(.mega-menu-dropdown) > * {
        display: block;
    }

    .sub-menu-container .sub-menu-container {
        list-style: none;
        top: -2px !important;
        left: 100%;
    }

    .sub-menu-container.menu-pos-invert {
        left: auto;
        right: 0;
    }

    .sub-menu-container .sub-menu-container.menu-pos-invert {
        right: 100%;
    }

    .sub-menu-container .menu-item:not(:first-child) {
        border-top: 0;
    }

    .sub-menu-container .menu-item > .menu-link {
        padding: 10px 15px;
        font-weight: 700;
        border: 0;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .sub-menu-container .menu-item > .menu-link i {
        vertical-align: middle;
    }

    .sub-menu-container .menu-item:hover > .menu-link {
        background-color: #f9f9f9;
        padding-left: 18px;
        color: #1ea054;
    }

    .menu-link div > i.icon-angle-down {
        top: 0;
        font-size: .875rem;
        margin: 0 0 0 5px;
    }

    .sub-menu-container .menu-link div > i.icon-angle-down {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        font-size: .875rem;
        line-height: 1;
        margin: 0;
        transform: translateY(-50%) rotate(-90deg);
    }

    .menu-item .sub-menu-trigger {
        display: none;
    }

    .mega-menu:not(.mega-menu-full) .mega-menu-content .container {
        max-width: none;
        padding: 0 var(--bs-gutter-x, .75rem) !important;
        margin: 0 auto !important;
    }

    .mega-menu-content {
        margin: 0;
        width: 100%;
        max-width: none;
        left: 50%;
        transform: translateX(-50%);
    }

    .mega-menu-small {
        position: relative;
    }

    .mega-menu-small .mega-menu-content {
        left: 0;
        width: 400px;
        transform: none;
    }

    .sub-menu-container .mega-menu {
        position: relative;
    }

    .sub-menu-container .mega-menu-small .mega-menu-content {
        top: 0;
        left: 100%;
    }

    .mega-menu-content.mega-menu-style-2 {
        padding: 0 10px;
    }

    .mega-menu-content .sub-menu-container:not(.mega-menu-dropdown) {
        position: relative;
        display: block !important;
        visibility: visible !important;
        top: 0 !important;
        left: 0;
        min-width: inherit;
        height: auto !important;
        list-style: none;
        border: 0;
        box-shadow: none;
        background-color: transparent;
        opacity: 1 !important;
        z-index: auto;
    }

    .mega-menu-content .sub-menu-container.mega-menu-dropdown {
        padding: .75rem;
        width: 220px;
    }

    .mega-menu-column {
        display: block !important;
        padding-left: 0;
        padding-right: 0;
    }

    .sub-menu-container.mega-menu-column:not(:first-child) {
        border-left: 1px solid #f2f2f2;
    }

    .mega-menu-style-2 .mega-menu-column {
        padding: 30px 20px;
    }

    .mega-menu-style-2 .mega-menu-title:not(:first-child) {
        margin-top: 20px;
    }

    .mega-menu-style-2 .mega-menu-title > .menu-link {
        font-size: .8125rem;
        font-weight: 700;
        font-family: Poppins, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase !important;
        margin-bottom: 15px;
        color: #444;
        padding: 0 !important;
        line-height: 1.3 !important;
    }

    .mega-menu-style-2 .mega-menu-title:hover > .menu-link {
        background-color: transparent;
    }

    .mega-menu-style-2 .mega-menu-title > .menu-link:hover {
        color: #1ea054;
    }

    .mega-menu-style-2 .sub-menu-container:not(.mega-menu-dropdown) .menu-item {
        border: 0;
    }

    .mega-menu-style-2 .sub-menu-container .menu-link {
        padding-left: 5px;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .mega-menu-style-2 .sub-menu-container .menu-item:hover > .menu-link {
        padding-left: 12px;
    }
}

.header-misc {
    position: initial;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.header-misc-icon {
    margin: 0 8px;
}

.header-misc-icon > a {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    font-size: 1.125rem;
    line-height: 20px;
    text-align: center;
    color: #333;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

@media (min-width: 992px) {
    .header-misc:not([class*=order-]) {
        -ms-flex-order: 6;
        order: 6;
    }
}

#top-search a {
    z-index: 11;
}

#top-search a i {
    position: absolute;
    top: 0;
    left: 3px;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

#top-search a i.icon-line-cross {
    opacity: 0;
}

.top-search-form {
    opacity: 0;
    z-index: -2;
    pointer-events: none;
    position: absolute;
    width: 100% !important;
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.top-search-form input {
    box-shadow: none !important;
    border-radius: 0;
    border: 0;
    outline: 0 !important;
    font-size: 24px;
    padding: 10px 80px 10px 0;
    height: 100%;
    background-color: transparent !important;
    color: #333;
    font-weight: 700;
    margin-top: 0 !important;
    font-family: Poppins, sans-serif;
    letter-spacing: 2px;
}

@media (min-width: 992px) {
    .top-search-form input {
        font-size: 32px;
    }

    .full-header .top-search-form input {
        padding-left: 30px;
    }
}

.top-search-form input::-moz-placeholder {
    color: #555;
    opacity: 1;
    text-transform: uppercase;
}

.top-search-form input:-ms-input-placeholder {
    color: #555;
    text-transform: uppercase;
}

.top-search-form input::-webkit-input-placeholder {
    color: #555;
    text-transform: uppercase;
}

.sticky-header .top-search-form input {
    border: none !important;
}

#top-search {
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

body:not(.top-search-open) .top-search-parent #logo, body:not(.top-search-open) .top-search-parent .header-misc > :not(#top-search), body:not(.top-search-open) .top-search-parent .primary-menu {
    opacity: 1;
    -webkit-transition: padding .4s ease, margin .4s ease, opacity .2s .2s ease;
    transition: padding .4s ease, margin .4s ease, opacity .2s .2s ease;
}

.top-cart-number {
    display: block;
    position: absolute;
    top: -7px;
    left: auto;
    right: -8px;
    font-size: .625rem;
    color: #fff;
    width: 1.125rem;
    height: 1.125rem;
    line-height: 1.125rem;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.top-cart-number::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1ea054;
    opacity: .8;
    z-index: -1;
}

.top-cart-content {
    position: fixed;
    top: 0;
    left: auto;
    width: 260px;
    background-color: #fff;
    border-left: 1px solid #eee;
    box-shadow: 0 20px 50px 10px rgba(0, 0, 0, .05);
    -webkit-transition: right .3s ease;
    -o-transition: right .3s ease;
    transition: right .3s ease;
}

@media (max-width: 991.98px) {
    .top-cart-content {
        right: -260px !important;
        height: calc(100vh);
        z-index: 499;
    }
}

.top-cart-title {
    padding: .75rem 1rem;
    border-bottom: 1px solid #eee;
}

.top-cart-title h4 {
    margin-bottom: 0;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.top-cart-items {
    padding: 1rem;
}

.top-cart-action, .top-cart-item, .top-cart-item-desc {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
}

.top-cart-item {
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.top-cart-item:not(:first-child) {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid #f5f5f5;
}

.top-cart-item-image {
    width: 48px;
    height: 48px;
    border: 2px solid #eee;
    -webkit-transition: border-color .2s linear;
    -o-transition: border-color .2s linear;
    transition: border-color .2s linear;
}

.top-cart-item-image a, .top-cart-item-image img {
    display: block;
    width: 44px;
    height: 44px;
}

.top-cart-item-image:hover {
    border-color: #1ea054;
}

.top-cart-item-desc, .top-cart-item-desc-title {
    padding-left: 1rem;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.top-cart-item-desc {
    -ms-flex-align: start;
    align-items: flex-start;
}

.top-cart-item-desc-title {
    padding-left: 0;
}

.top-cart-item-desc a {
    display: block;
    font-size: .8125rem;
    line-height: 1.25rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 5px;
}

.top-cart-item-desc a:hover {
    color: #1ea054;
}

.top-cart-item-price {
    font-size: .75rem;
    color: #999;
}

.top-cart-item-quantity {
    font-size: .75rem;
    line-height: 1.25rem;
    color: #444;
}

.top-cart-action {
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #eee;
}

.top-cart-action .top-checkout-price {
    font-size: 1.25rem;
    color: #1ea054;
}

@media (min-width: 992px) {
    #top-cart {
        position: relative;
    }

    .top-cart-content {
        opacity: 0;
        position: absolute;
        width: 280px;
        border: 1px solid #eee;
        border-top: 2px solid #1ea054;
        top: calc(100% + 20px);
        right: -15px;
        margin: -10000px 0 0;
        z-index: auto;
        -webkit-transition: opacity .5s ease, top .4s ease;
        -o-transition: opacity .5s ease, top .4s ease;
        transition: opacity .5s ease, top .4s ease;
    }

    .top-cart-items {
        padding: 1rem;
    }
}

.one-page-arrow {
    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    font-size: 32px;
    text-align: center;
    color: #222;
}

.slider-element {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-parallax {
    position: relative;
}

.slider-parallax, .slider-parallax .swiper-container {
    visibility: visible;
    -webkit-backface-visibility: hidden;
}

.slider-inner {
    position: absolute;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-parallax .slider-inner {
    position: fixed;
}

.slider-parallax-invisible .slider-inner {
    opacity: 0;
    visibility: hidden;
}

body:not(.side-header) .slider-parallax .slider-inner {
    left: 0;
}

.slider-parallax .slider-caption, .slider-parallax .slider-inner {
    will-change: transform;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: transform 0s linear;
    -webkit-backface-visibility: hidden;
}

@media (max-width: 991.98px) {
    #slider {
        display: -ms-flexbox !important;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
    }

    #slider .slider-inner {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        flex-grow: 1;
        align-items: center;
    }
}

.swiper_wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.swiper_wrapper .swiper-container {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

.swiper_wrapper .swiper-slide {
    position: relative;
    margin: 0;
    overflow: hidden;
}

.swiper-slide-bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-element .video-wrap, .swiper-slide-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

.slider-element .container {
    position: relative;
    height: 100%;
}

.video-wrap {
    overflow: hidden;
    width: 100%;
    position: relative;
    direction: ltr;
}

.video-wrap video {
    position: relative;
    z-index: 1;
    opacity: 1;
    width: 100%;
    transition: opacity .3s 1s ease;
}

.video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background: transparent url(http://themes.semicolonweb.com/html/canvas/images/grid.png) repeat;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.slider-caption {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    flex-flow: column;
    justify-content: center;
    z-index: 20;
    max-width: 550px;
    color: #eee;
    font-size: 1.375rem;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
    -webkit-transition: top .3s ease;
    -o-transition: top .3s ease;
    transition: top .3s ease;
}

.slider-caption:not(.dark), .slider-caption:not(.dark) h2 {
    color: #222;
    text-shadow: none;
}

.slider-caption h2 {
    font-size: 4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
}

.slider-caption p {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

@media (max-width: 991.98px) {
    .swiper_wrapper .slider-caption h2 {
        font-size: 5.5vw;
    }

    .swiper_wrapper .slider-caption p {
        font-size: 2.6vw;
    }
}

.slider-caption.slider-caption-center {
    position: relative;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.slider-arrow-left, .slider-arrow-right {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    top: 50%;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    width: 52px;
    height: 52px;
    border: 0;
    border-radius: 0 3px 3px 0;
    transform: translateY(-50%);
    -webkit-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}

.slider-arrow-right {
    left: auto;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider-arrow-left i, .slider-arrow-right i {
    line-height: 50px;
    width: 100%;
    height: 100%;
    color: #ddd;
    color: rgba(255, 255, 255, .8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    font-size: 34px;
    text-align: center;
    transition: color .3s ease-in-out;
}

.slider-arrow-left:hover, .slider-arrow-right:hover {
    background-color: rgba(0, 0, 0, .6) !important;
}

.fslider.testimonial[data-animation=fade] .flexslider {
    height: auto !important;
}

.flex-control-nav {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: auto;
    z-index: 10;
    text-align: center;
    top: 14px;
    right: 10px;
    margin: 0;
}

.flex-control-nav li {
    display: block;
    margin: 0 3px;
    width: .625rem;
    height: .625rem;
}

.flex-control-nav li a {
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    width: 100% !important;
    height: 100% !important;
    border: 1px solid #fff;
    color: transparent;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.flex-control-nav li a.flex-active, .flex-control-nav li:hover a {
    background-color: #fff;
}

#content {
    position: relative;
    background-color: #fff;
}

#content p {
    line-height: 1.8;
}

.content-wrap {
    position: relative;
    padding: 80px 0;
    overflow: hidden;
}

#content .container {
    position: relative;
}

.grid-container, .grid-inner {
    position: relative;
    overflow: hidden;
}

.grid-inner {
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

body:not(.device-touch) .grid-container {
    -webkit-transition: height .4s ease;
    -o-transition: height .4s ease;
    transition: height .4s ease;
}

.portfolio, .portfolio-item {
    position: relative;
}

body:not(.device-touch) .portfolio {
    -webkit-transition: height .4s linear;
    -o-transition: height .4s linear;
    transition: height .4s linear;
}

.portfolio-reveal .portfolio-item {
    overflow: hidden;
}

.portfolio-item .portfolio-image {
    position: relative;
    overflow: hidden;
}

.portfolio-item .portfolio-image, .portfolio-item .portfolio-image img, .portfolio-item .portfolio-image > a {
    display: block;
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .portfolio-reveal .bg-overlay, .portfolio-reveal .portfolio-image img {
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
}

.portfolio-desc {
    position: relative;
    z-index: 6;
    padding: 20px 5px;
}

.portfolio-desc h3 {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
}

.portfolio-desc h3 a {
    color: #222;
}

.portfolio-desc h3 a:hover {
    color: #1ea054;
}

.portfolio-desc span {
    display: block;
}

.portfolio-desc span, .portfolio-desc span a {
    color: #888;
}

.portfolio-desc span a:hover {
    color: #000;
}

.portfolio.g-0 .portfolio-desc {
    padding-left: 15px;
    padding-right: 15px;
}

.portfolio-reveal .portfolio-desc {
    background-color: #fff;
    top: -100%;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

@media (min-width: 768px) {
    .portfolio-reveal .portfolio-desc {
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
}

.portfolio-reveal .portfolio-item:hover .portfolio-desc {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.portfolio-reveal .portfolio-item:hover .bg-overlay, .portfolio-reveal .portfolio-item:hover .portfolio-image img {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

@media (min-width: 768px) {
    .portfolio-reveal .portfolio-item:hover .bg-overlay, .portfolio-reveal .portfolio-item:hover .portfolio-image img {
        -webkit-transform: translateY(-15%);
        transform: translateY(-15%);
    }
}

@media (max-width: 767.98px) {
    .portfolio-reveal .portfolio-desc {
        display: none !important;
    }
}

.entry {
    position: relative;
    margin-bottom: 50px;
}

.posts-md .entry, .posts-sm .entry {
    margin-bottom: 0;
}

.entry::after {
    content: '';
    position: relative;
    height: 2px;
    margin-top: 50px;
    background-color: #f5f5f5;
}

.entry-image {
    margin-bottom: 30px;
}

.posts-md .entry-image {
    margin-bottom: 0;
}

.entry-image, .entry-image img, .entry-image > a {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.entry-image img {
    border-radius: 3px;
}

.posts-md .entry-image + .entry-title {
    margin-top: .875rem;
}

.entry-title h3, .entry-title h4 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.entry-title.title-xs h3 {
    font-size: 1rem;
    letter-spacing: 0;
}

.entry-title h4 {
    font-size: .875rem;
    letter-spacing: 0;
}

.entry-title h4, .entry-title.nott h3 {
    text-transform: none;
}

.entry-title h3 a, .entry-title h4 a {
    color: #333;
}

.entry-title h3 a:hover, .entry-title h4 a:hover {
    color: #1ea054;
}

.entry-meta {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.posts-sm .entry-meta {
    margin-top: 6px;
}

.posts-md .entry-meta, .posts-sm .entry-meta {
    margin-bottom: 0;
}

.entry-meta ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 -10px -20px;
    list-style: none;
}

.posts-sm .entry-meta ul {
    margin-bottom: -5px;
}

.entry-meta li {
    font-size: 90%;
    margin: 0 15px 10px 0;
    color: #999;
}

.posts-sm .entry-meta li {
    margin-bottom: 5px;
}

.entry-meta:not(.no-separator) li::before {
    content: '\205E';
    width: 5px;
    text-align: center;
    display: inline-block;
    margin-right: 15px;
    opacity: .5;
}

.entry-meta i {
    position: relative;
    top: 1px;
    padding-left: 1px;
    margin-right: 5px;
}

.entry-content {
    margin-top: 30px;
}

.posts-md .entry-content {
    margin-top: 20px;
}

.entry-content {
    position: relative;
}

.button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: 0;
    white-space: nowrap;
    margin: 5px;
    padding: 8px 22px;
    font-size: .875rem;
    line-height: 24px;
    background-color: #1ea054;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

body:not(.device-touch) .button {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.button.button-dark {
    background-color: #444;
}

.button:hover {
    background-color: #444;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

.button.button-dark:hover {
    background-color: #1ea054;
}

.button.button-small {
    padding: 7px 17px;
    font-size: 12px;
    line-height: 20px;
}

.button.button-large {
    padding: 8px 26px;
    font-size: 1rem;
    line-height: 30px;
}

.button i {
    position: relative;
    margin-right: 5px;
    width: 16px;
    text-align: center;
}

.button.text-end i {
    margin: 0 0 0 5px;
}

.button.button-rounded {
    border-radius: 3px;
}

.button.button-border {
    border: 2px solid #444;
    background-color: transparent;
    color: #333;
    font-weight: 700;
    text-shadow: none;
}

.button.button-border:not(.button-fill):hover {
    background-color: #444;
    color: #fff;
    border-color: transparent !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

.button.button-3d {
    border-radius: 3px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .15);
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.button.button-3d:hover {
    background-color: #1ea054;
    opacity: .9;
}

.button.button-full {
    display: block;
    width: 100%;
    white-space: normal;
    margin: 0;
    height: auto;
    line-height: 1.6;
    padding: 30px 0;
    font-size: 30px;
    font-weight: 300;
    text-transform: none;
    border-radius: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

.button.button-full strong {
    font-weight: 700;
    border-bottom: 2px solid #eee;
}

body:not(.device-touch) .button.button-full strong {
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.feature-box {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -.75rem;
    margin-right: -.75rem;
}

.feature-box:first-child {
    margin-top: 0;
}

.fbox-icon {
    width: 5.5rem;
    height: 4rem;
    padding: 0 .75rem;
}

.fbox-icon a, .fbox-icon i {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
}

.fbox-icon i {
    border-radius: 50%;
    background-color: #1ea054;
}

.fbox-icon i {
    font-style: normal;
    font-size: 1.75rem;
    line-height: 4rem;
    text-align: center;
}

.fbox-content {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    padding: 0 .75rem;
}

.fbox-content h3 {
    font-size: 1rem;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #333;
}

.fbox-content p {
    margin-top: .5rem;
    margin-bottom: 0;
    color: #999;
}

.fbox-sm {
    margin-left: -.5rem;
    margin-right: -.5rem;
}

.fbox-sm .fbox-icon {
    width: 3rem;
    height: 2rem;
    padding: 0 .5rem;
}

.fbox-sm .fbox-icon i {
    font-size: 1rem;
    line-height: 2rem;
}

.fbox-sm .fbox-content {
    padding: 0 .5rem;
}

.fbox-plain .fbox-icon {
    border: none !important;
}

.fbox-plain .fbox-icon i {
    border: none;
    background-color: transparent !important;
    color: #1ea054;
    border-radius: 0;
}

.fbox-plain .fbox-icon i {
    font-size: 3rem;
    line-height: 1;
}

.fbox-plain.fbox-sm .fbox-icon i {
    font-size: 2rem;
}

.i-plain, .social-icon {
    display: block;
    float: left;
    margin: 4px 11px 7px 0;
    text-align: center !important;
    font-size: 28px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    cursor: pointer;
    font-style: normal;
}

body:not(.device-touch) .i-plain, body:not(.device-touch) .social-icon {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.i-plain {
    width: 36px !important;
    height: 36px !important;
    font-size: 28px;
    line-height: 36px !important;
    color: #444;
    text-shadow: 1px 1px 1px #fff;
}

.i-plain:hover {
    color: #777;
}

.i-large.i-plain {
    margin: 4px 11px 7px 0;
    font-size: 42px;
}

.i-large.i-plain {
    width: 48px !important;
    height: 48px !important;
    font-size: 42px;
    line-height: 48px !important;
}

.i-xlarge.i-plain {
    margin: 4px 11px 7px 0;
    font-size: 56px;
}

.i-xlarge.i-plain {
    width: 64px !important;
    height: 64px !important;
    font-size: 56px;
    line-height: 64px !important;
}

.social-icon {
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
    line-height: 38px !important;
    color: #555;
    text-shadow: none;
    border: 1px solid #aaa;
    border-radius: 3px;
    overflow: hidden;
}

.d-flex > .social-icon {
    float: none;
    margin-bottom: 0;
}

.si-rounded {
    border-radius: 50%;
}

.si-borderless {
    border-color: transparent !important;
}

.si-dark {
    background-color: #444;
    color: #fff !important;
    border-color: transparent;
}

.si-light {
    background-color: rgba(0, 0, 0, .05);
    color: #666 !important;
    border-color: transparent;
}

.si-colored {
    border-color: transparent !important;
}

.si-colored i {
    color: #fff;
}

.social-icon.si-small {
    width: 32px;
    height: 32px;
    font-size: .875rem;
    line-height: 30px !important;
}

.social-icon i {
    display: block;
    position: relative;
}

body:not(.device-touch) .social-icon i {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.social-icon i:last-child {
    color: #fff !important;
}

.social-icon:hover i:first-child {
    margin-top: -38px;
}

.social-icon.si-small:hover i:first-child {
    margin-top: -30px;
}

.social-icon:hover {
    color: #555;
    border-color: transparent;
}

.si-colored.social-icon {
    border-color: transparent;
}

.si-colored.si-facebook, .si-facebook:hover {
    background-color: #3b5998 !important;
}

.si-gplus:hover {
    background-color: #dd4b39 !important;
}

.si-linkedin:hover {
    background-color: #0e76a8 !important;
}

.si-colored.si-rss, .si-rss:hover {
    background-color: #ee802f !important;
}

.si-twitter:hover {
    background-color: #00acee !important;
}

.si-vimeo:hover {
    background-color: #86c9ef !important;
}

.si-yahoo:hover {
    background-color: #720e9e !important;
}

.si-github:hover {
    background-color: #171515 !important;
}

.si-pinterest:hover {
    background-color: #c8232c !important;
}

.testimonial {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.testi-image {
    float: left;
    margin-right: 15px;
}

.testi-image, .testi-image a, .testi-image img {
    display: block;
    width: 64px;
    height: 64px;
}

.testi-image img {
    border-radius: 50%;
}

.testi-content {
    position: relative;
    overflow: hidden;
}

.testi-content p {
    margin-bottom: 0;
    font-family: 'PT Serif', serif;
    font-style: italic;
}

.testi-content p::after, .testi-content p::before {
    content: '"';
}

.testi-meta {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.testi-meta::before {
    content: '\2013';
}

.testi-meta span {
    display: block;
    font-weight: 400;
    color: #999;
    font-size: 13px;
    text-transform: none;
    padding-left: 10px;
}

.testimonial.testimonial-full {
    padding: 30px;
}

.testimonial.testimonial-full[data-animation=fade] {
    padding: 30px;
}

.testimonial.testimonial-full[data-animation=fade] .flexslider {
    overflow: visible !important;
}

.testimonial-full .testi-image {
    float: none;
    margin: 0 auto 20px;
}

.testimonial-full .testi-image, .testimonial-full .testi-image a, .testimonial-full .testi-image img {
    display: block;
    width: 72px;
    height: 72px;
}

.testimonial-full .testi-content {
    text-align: center;
    font-size: 18px;
}

.testimonial-full .testi-meta {
    margin-top: 15px;
}

.testimonial-full .testi-meta span {
    padding-left: 0;
}

.section > .testimonial {
    padding: 0;
    background-color: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
    max-width: 800px;
    margin: 0 auto;
}

.section > .testimonial[data-animation=fade] {
    padding: 0;
}

.section > .testimonial .testi-content {
    font-size: 1.25rem;
}

.section > .testimonial .testi-meta, .section > .testimonial .testi-meta span {
    font-size: .875rem;
}

.testimonial .flex-control-nav {
    top: auto;
    bottom: 6px;
    right: 0;
}

.testimonial .flex-control-nav li {
    margin: 0 2px;
    width: 6px;
    height: 6px;
}

.testimonial .flex-control-nav li a {
    width: 6px !important;
    height: 6px !important;
    border: none;
    background-color: #1ea054;
    opacity: .5;
}

.testimonial .flex-control-nav li:hover a {
    opacity: .75;
}

.testimonial .flex-control-nav li a.flex-active {
    opacity: 1;
}

.testimonial.testimonial-full .flex-control-nav {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 6px;
    margin-top: 20px;
}

.testimonial.testimonial-full .flex-control-nav li {
    display: inline-block;
    float: none;
}

.team, .team-image {
    position: relative;
}

.team-image img {
    display: block;
    width: 100%;
}

.team-desc {
    text-align: center;
}

.team-desc.team-desc-bg {
    background-color: #fff;
    padding: 10px 0 30px;
}

.team-title {
    position: relative;
    padding-top: 20px;
}

.team-title h4 {
    display: block;
    margin-bottom: 0;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.team-title span {
    display: block;
    color: #1ea054;
    font-weight: 400;
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-size: 1rem;
    margin-top: 5px;
}

.team .team-desc > .social-icon {
    margin-top: 20px;
}

.team:not(.team-list) .social-icon {
    display: inline-block !important;
    vertical-align: middle;
    float: none;
    margin-left: 4px;
    margin-right: 4px;
}

.counter {
    font-size: 42px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
}

.counter.counter-small {
    font-size: 28px;
}

.counter + h5 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.counter.counter-lined + h5::before {
    display: block;
    position: relative;
    margin: 20px auto 25px auto;
    content: '';
    width: 15%;
    border-top: 2px solid #444;
    opacity: .9;
}

.counter.counter-small + h5 {
    font-size: .875rem;
}

.widget .counter + h5 {
    opacity: .7;
}

.owl-carousel {
    display: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
    width: 100%;
    touch-action: manipulation;
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage::after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: none;
}

.owl-nav .owl-next, .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    padding: 0;
    border: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel .owl-item img {
    transform-style: preserve-3d;
}

.owl-carousel .owl-dots, .owl-carousel .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    line-height: 1;
}

.owl-carousel .owl-nav [class*=owl-] {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    left: -36px;
    zoom: 1;
    width: 36px;
    height: 36px;
    line-height: 32px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #666;
    background-color: #fff;
    font-size: 18px;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.owl-carousel .owl-nav .owl-next {
    left: auto;
    right: -36px;
}

.owl-carousel:hover .owl-nav [class*=owl-] {
    opacity: 1;
    left: -18px;
}

.owl-carousel:hover .owl-nav .owl-next {
    left: auto;
    right: -18px;
}

.owl-carousel .owl-nav [class*=owl-]:hover {
    background-color: #1ea054 !important;
    color: #fff !important;
    text-decoration: none;
}

.owl-carousel {
    --owl-nav-sizes: 36px;
    --owl-dots-gutters: 4px;
    --owl-dots-sizes: 8px;
    --owl-nav-bg: var(--themecolor, #1ea054);
    --owl-nav-margin: calc(var(--owl-nav-sizes) / -2);
    --owl-nav-with-dots: calc(var(--owl-nav-margin) - calc(calc(30px + var(--owl-dots-sizes)) / 2));
}

.owl-carousel .owl-nav [class*=owl-] {
    left: calc(-1 * var(--owl-nav-sizes));
    width: var(--owl-nav-sizes);
    height: var(--owl-nav-sizes);
    line-height: calc(calc(-1 * var(--owl-nav-sizes)) - 4px);
    font-size: calc(var(--owl-nav-sizes) / 2);
    margin-top: var(--owl-nav-margin);
}

.owl-carousel .owl-nav .owl-next {
    left: auto;
    right: calc(-1 * var(--owl-nav-sizes));
}

.owl-carousel:hover .owl-nav [class*=owl-] {
    opacity: 1;
    left: calc(calc(-1 * var(--owl-nav-sizes)) / 2);
}

.owl-carousel:hover .owl-nav .owl-next {
    left: auto;
    right: calc(calc(-1 * var(--owl-nav-sizes)) / 2);
}

.owl-carousel .owl-nav [class*=owl-]:hover {
    background-color: var(--owl-nav-bg) !important;
}

.bg-overlay, .bg-overlay-bg, .bg-overlay-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.bg-overlay [data-hover-animate]:not(.animated) {
    opacity: 0;
}

.bg-overlay {
    z-index: 5;
}

.bg-overlay-content {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 20px;
}

.bg-overlay-bg {
    background-color: rgba(255, 255, 255, .85);
}

.bg-overlay-bg.dark {
    background-color: rgba(0, 0, 0, .5);
}

.overlay-trigger-icon {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 .25rem;
    font-size: 1.125rem;
    text-align: center;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    transition: all .3s ease;
}

.overlay-trigger-icon .icon-line-play {
    position: relative;
    left: 2px;
}

.overlay-trigger-icon.size-lg {
    width: 64px;
    height: 64px;
    line-height: 64px;
    margin: 0 .5rem;
    font-size: 1.5rem;
}

.form-control {
    border-radius: 3px;
}

.form-control:active, .form-control:focus {
    border-color: #999;
    box-shadow: none;
}

.heading-block {
    margin-bottom: 50px;
}

.heading-block h1, .heading-block h2, .heading-block h3, .heading-block h4 {
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
}

.heading-block h1 {
    font-size: 32px;
}

.heading-block h2 {
    font-size: 30px;
}

.heading-block h3 {
    font-size: 1.75rem;
}

.heading-block h4 {
    font-size: 1.25rem;
    font-weight: 700;
}

.heading-block > span:not(.before-heading) {
    display: block;
    margin-top: 10px;
    font-weight: 300;
    color: #777;
}

.heading-block .before-heading {
    margin-bottom: 7px;
}

.center .heading-block > span, .heading-block.center > span {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.heading-block h2 + span {
    font-size: 1.25rem;
}

.heading-block::after {
    content: '';
    display: block;
    margin-top: 30px;
    width: 40px;
    border-top: 2px solid #444;
}

.center .heading-block::after, .heading-block.center::after, .text-center .heading-block::after {
    margin: 30px auto 0;
}

.heading-block.border-bottom-0::after {
    display: none;
}

.before-heading {
    display: block;
    margin: 0 0 5px;
    font-size: 1rem;
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-weight: 400;
    color: #999;
}

@media (max-width: 767.98px) {
    .heading-block h1 {
        font-size: 30px;
    }

    .heading-block h2 {
        font-size: 26px;
    }

    .heading-block h3 {
        font-size: 22px;
    }

    .heading-block h4 {
        font-size: 19px;
    }

    .heading-block h2 + span {
        font-size: 18px;
    }
}

#gotoTop {
    display: none;
    z-index: 599;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #333;
    background-color: rgba(0, 0, 0, .3);
    font-size: 1.25rem;
    line-height: 36px;
    text-align: center;
    color: #fff;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    border-radius: 2px;
}

body:not(.device-touch) #gotoTop {
    transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
}

.stretched #gotoTop {
    bottom: 30px;
}

#gotoTop:hover {
    background-color: #1ea054;
}

#footer {
    position: relative;
    background-color: #eee;
    border-top: 5px solid rgba(0, 0, 0, .2);
}

#footer .footer-widgets-wrap {
    position: relative;
    padding: 80px 0;
}

#copyrights {
    padding: 40px 0;
    background-color: #ddd;
    font-size: .875rem;
    line-height: 1.8;
}

.copyright-links a {
    display: inline-block;
    margin: 0 3px;
    color: #333;
    border-bottom: 1px dotted #444;
}

.copyright-links a:hover {
    color: #555;
    border-bottom: 1px solid #666;
}

#copyrights a:first-child {
    margin-left: 0;
}

.footer-logo {
    display: block;
    margin-bottom: 30px;
}

.widget {
    position: relative;
    margin-top: 50px;
}

.widget p {
    line-height: 1.7;
}

.widget:first-child {
    margin-top: 0;
}

.widget > h4 {
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.widget_links li, .widget_links ul {
    list-style: none;
    margin: 0;
}

.widget_links li {
    display: flex;
    padding: 4px 0;
    font-size: 15px;
}

.widget_links:not(.widget-li-noicon) li::before {
    content: "\e7a5";
    font-family: font-icons;
    display: inline-block;
    position: relative;
    top: 1px;
    left: 0;
}

.widget_links li a {
    display: inline-block;
    padding: 0 3px 0 12px;
    border: none !important;
    color: #444;
}

.widget_links li a:hover {
    color: #000;
}

.widget_links > ul > li:first-child {
    border-top: 0 !important;
}

.widget_links > ul {
    margin-top: -4px !important;
}

.subscribe-widget h5 {
    font-weight: 300;
    font-size: .875rem;
    line-height: 1.5;
}

.stretched #wrapper {
    width: 100%;
    margin: 0;
    box-shadow: none;
}

/*! CSS Used from: http://themes.semicolonweb.com/html/canvas/css/swiper.css */
:root {
    --swiper-theme-color: #007aff;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-wrapper {
    transform: translate3d(0px, 0, 0);
}

.swiper-container-pointer-events {
    touch-action: pan-y;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

:root {
    --swiper-navigation-size: 44px;
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

/*! CSS Used from: http://themes.semicolonweb.com/html/canvas/css/dark.css */
.dark, .dark h2, .dark h3, .dark h4, .dark h5 {
    color: #EEE;
}

.dark a:not([class*="btn-"]):hover {
    color: #EEE;
}

.section.dark {
    background-color: #282828;
    border-color: rgba(255, 255, 255, 0.1);
}

.one-page-arrow.dark {
    color: #FFF;
}

.dark .slider-caption:not(.not-dark), .dark .slider-caption:not(.not-dark) h2 {
    color: #F7F7F7;
}

.dark .entry::after {
    background-color: rgba(255, 255, 255, 0.2);
}

.dark .entry-title h4 a {
    color: #F7F7F7;
}

.dark .entry-title h4 a:hover {
    color: #1ea054;
}

.dark .entry-meta li {
    color: #BBB;
}

.dark .i-plain {
    color: #EEE;
    text-shadow: none;
}

.dark .i-plain:hover {
    color: #CCC;
}

.dark .social-icon {
    color: #EEE;
    border-color: #AAA;
}

.dark .si-dark {
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFF !important;
    border-color: transparent;
}

.dark .testimonial {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.15);
}

.dark .testi-meta span {
    color: #AAA;
}

.dark .counter.counter-lined + h5::before {
    border-top-color: rgba(255, 255, 255, 0.15);
}

.dark .form-control:active, .dark .form-control:focus {
    border-color: rgba(255, 255, 255, 0.25);
}

.dark .heading-block::after {
    border-top-color: rgba(255, 255, 255, 0.7);
}

#footer.dark {
    color: rgba(255, 255, 255, 0.75);
    background-color: #282828;
    border-top-color: rgba(255, 255, 255, 0.15);
}

.dark .footer-widgets-wrap a {
    color: rgba(255, 255, 255, 0.75);
}

.dark .footer-widgets-wrap a:hover {
    color: rgba(255, 255, 255, 0.85);
}

#footer.dark .social-icon.si-borderless {
    color: rgba(255, 255, 255, 0.5) !important;
}

.dark #copyrights {
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0.2);
}

.dark .copyright-links a {
    color: rgba(255, 255, 255, 0.4);
    border-bottom-color: rgba(255, 255, 255, 0.65);
}

.dark .copyright-links a:hover {
    color: rgba(255, 255, 255, 0.6);
    border-bottom-color: rgba(255, 255, 255, 0.7);
}

.dark .widget_links li a {
    color: rgba(255, 255, 255, 0.8);
}

.dark .widget_links li a:hover {
    color: rgba(255, 255, 255, 0.9);
}

.dark .form-control:not(.not-dark) {
    color: #999;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.15);
}

.dark .form-control:not(.not-dark):active, .dark .form-control:not(.not-dark):focus {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(255, 255, 255, 0.25) !important;
}

.dark .form-control:not(.not-dark)::-moz-placeholder {
    color: #666;
}

.dark .form-control:not(.not-dark):-ms-input-placeholder {
    color: #666;
}

.dark .form-control:not(.not-dark)::-webkit-input-placeholder {
    color: #666;
}

.dark .input-group-text {
    color: #999;
    background-color: rgba(0, 0, 0, 0.25);
    border-color: rgba(255, 255, 255, 0.15);
}

/*! CSS Used from: http://themes.semicolonweb.com/html/canvas/css/font-icons.css */
[class^="icon-"], [class*=" icon-"], [class^="icon-line-"], [class*=" icon-line2-"] {
    display: inline-block;
    font-family: "font-icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

[class^="icon-line-"] {
    font-family: "lined-icons";
}

[class*=" icon-line2-"] {
    font-family: "Simple-Line-Icons";
}

.icon-envelope2:before {
    content: "\e603";
}

.icon-settings:before {
    content: "\e60f";
}

.icon-flag2:before {
    content: "\e61f";
}

.icon-refresh:before {
    content: "\e650";
}

.icon-email2:before {
    content: "\e662";
}

.icon-heart2:before {
    content: "\e663";
}

.icon-stack:before {
    content: "\e67f";
}

.icon-select:before {
    content: "\e689";
}

.icon-params:before {
    content: "\e693";
}

.icon-bulb:before {
    content: "\e6a3";
}

.icon-note:before {
    content: "\e6ae";
}

.icon-heart3:before {
    content: "\e6c0";
}

.icon-star3:before {
    content: "\e6c1";
}

.icon-user4:before {
    content: "\e6c3";
}

.icon-time:before {
    content: "\e6d2";
}

.icon-camera3:before {
    content: "\e6e9";
}

.icon-align-justify2:before {
    content: "\e6f2";
}

.icon-indent-right:before {
    content: "\e6f5";
}

.icon-picture:before {
    content: "\e6f7";
}

.icon-pencil2:before {
    content: "\e6f8";
}

.icon-map-marker2:before {
    content: "\e6f9";
}

.icon-move:before {
    content: "\e6ff";
}

.icon-ok-sign:before {
    content: "\e70f";
}

.icon-ok-circle:before {
    content: "\e714";
}

.icon-resize-full:before {
    content: "\e71b";
}

.icon-exclamation-sign:before {
    content: "\e720";
}

.icon-calendar3:before {
    content: "\e728";
}

.icon-bar-chart:before {
    content: "\e734";
}

.icon-facebook2:before {
    content: "\e74d";
}

.icon-angle-left:before {
    content: "\e7a4";
}

.icon-angle-right:before {
    content: "\e7a5";
}

.icon-angle-up:before {
    content: "\e7a6";
}

.icon-angle-down:before {
    content: "\e7a7";
}

.icon-laptop2:before {
    content: "\e7a9";
}

.icon-dollar:before {
    content: "\e7f0";
}

.icon-skype2:before {
    content: "\e817";
}

.icon-gplus:before {
    content: "\e838";
}

.icon-facebook:before {
    content: "\e86f";
}

.icon-caret-right:before {
    content: "\e978";
}

.icon-chevron-right:before {
    content: "\e99a";
}

.icon-cogs:before {
    content: "\e9af";
}

.icon-comments:before {
    content: "\e9b8";
}

.icon-edit:before {
    content: "\e9eb";
}

.icon-ellipsis-h:before {
    content: "\e9ed";
}

.icon-envelope:before {
    content: "\e9f2";
}

.icon-folder-open:before {
    content: "\ea2c";
}

.icon-gift:before {
    content: "\ea3d";
}

.icon-hand-pointer:before {
    content: "\ea66";
}

.icon-headphones:before {
    content: "\ea72";
}

.icon-lightbulb:before {
    content: "\eaac";
}

.icon-link:before {
    content: "\eaad";
}

.icon-list-alt:before {
    content: "\eaaf";
}

.icon-magic:before {
    content: "\eabc";
}

.icon-play:before {
    content: "\eb1b";
}

.icon-question-circle:before {
    content: "\eb32";
}

.icon-quote-left:before {
    content: "\eb35";
}

.icon-rocket:before {
    content: "\eb44";
}

.icon-rss:before {
    content: "\eb47";
}

.icon-shapes:before {
    content: "\eb5a";
}

.icon-star-of-life:before {
    content: "\eb90";
}

.icon-table:before {
    content: "\ebae";
}

.icon-tasks:before {
    content: "\ebb6";
}

.icon-th-large:before {
    content: "\ebbd";
}

.icon-th-list:before {
    content: "\ebbe";
}

.icon-th:before {
    content: "\ebbf";
}

.icon-thumbs-up:before {
    content: "\ebc8";
}

.icon-tint:before {
    content: "\ebce";
}

.icon-umbrella:before {
    content: "\ebe8";
}

.icon-apple:before {
    content: "\ecd6";
}

.icon-github:before {
    content: "\ed50";
}

.icon-linkedin:before {
    content: "\ed8b";
}

.icon-pinterest:before {
    content: "\edc2";
}

.icon-twitter:before {
    content: "\ee11";
}

.icon-vimeo:before {
    content: "\ee20";
}

.icon-wpforms:before {
    content: "\ee33";
}

.icon-yahoo:before {
    content: "\ee38";
}

.icon-line-bag:before {
    content: "\ea23";
}

.icon-line-marquee-plus:before {
    content: "\ea29";
}

.icon-line-square-check:before {
    content: "\ea2d";
}

.icon-line-circle-check:before {
    content: "\ea1d";
}

.icon-line-stack-2:before {
    content: "\ea1a";
}

.icon-line-check:before {
    content: "\e92b";
}

.icon-line-columns:before {
    content: "\e944";
}

.icon-line-eye:before {
    content: "\e95f";
}

.icon-line-paper:before {
    content: "\e968";
}

.icon-line-heart:before {
    content: "\e97d";
}

.icon-line-layers:before {
    content: "\e987";
}

.icon-line-layout:before {
    content: "\e988";
}

.icon-line-loader:before {
    content: "\e98e";
}

.icon-line-expand:before {
    content: "\e995";
}

.icon-line-monitor:before {
    content: "\e9a2";
}

.icon-line-ellipsis:before {
    content: "\e9a4";
}

.icon-line-move:before {
    content: "\e9a7";
}

.icon-line-play:before {
    content: "\e9ba";
}

.icon-line-plus:before {
    content: "\e9bc";
}

.icon-line-power:before {
    content: "\e9c0";
}

.icon-line-search:before {
    content: "\e9cc";
}

.icon-line-star:before {
    content: "\e9e1";
}

.icon-line-upload:before {
    content: "\e9fe";
}

.icon-line-cross:before {
    content: "\ea11";
}

.icon-line2-screen-desktop:before {
    content: "\e011";
}

.icon-line2-energy:before {
    content: "\e020";
}

.icon-line2-layers:before {
    content: "\e034";
}

.icon-line2-directions:before {
    content: "\e041";
}

.icon-line2-graph:before {
    content: "\e06b";
}

.icon-line2-equalizer:before {
    content: "\e06c";
}

.icon-line2-clock:before {
    content: "\e081";
}

.icon-yahoo:before {
    content: "\ee48";
}

/*! CSS Used from: http://themes.semicolonweb.com/html/canvas/css/animate.css */
:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

.not-animated, [data-animate]:not(.animated) {
    opacity: 0;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@media print, (prefers-reduced-motion: reduce) {
    .animated {
        -webkit-animation-duration: 1ms !important;
        animation-duration: 1ms !important;
        -webkit-transition-duration: 1ms !important;
        transition-duration: 1ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

/*! CSS Used from: http://themes.semicolonweb.com/html/canvas/css/magnific-popup.css */
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/*! CSS Used from: http://themes.semicolonweb.com/html/canvas/css/custom.css */
.scw-switcher-wrap, .scw-trigger-icon {
    position: fixed;
    left: auto;
    background-color: #fff;
}

.scw-trigger-icon {
    width: 44px;
    height: 44px;
    top: 121px;
    right: 26px;
    border: 0;
    padding: 0;
    text-align: center;
    z-index: 5;
    cursor: pointer;
}

.scw-trigger-icon i {
    font-size: 18px;
}

.scw-switcher-wrap:not(.scw-switcher-open) i:nth-of-type(2) {
    display: none;
}

.scw-switcher-wrap {
    top: 120px;
    right: 25px;
    padding: 23px;
    width: 0;
    height: 0;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 3px;
    box-shadow: 0 13px 42px 11px rgba(0, 0, 0, .05);
    z-index: 9999;
    overflow: hidden;
    -webkit-transition: all .45s ease;
    -o-transition: all .45s ease;
    transition: all .45s ease;
}

.scw-switcher-wrap .widget {
    margin: 0;
}

.scw-switcher-wrap .line, .scw-switcher-wrap .widget {
    opacity: 0;
    -webkit-transition: opacity 0s ease;
    -o-transition: opacity 0s ease;
    transition: opacity 0s ease;
}

.scw-switcher-wrap .widget h4 {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.scw-switcher-wrap .btn-container {
    margin: 0 -5px -5px 0;
}

.scw-switcher-wrap .btn {
    margin: 0 5px 5px 0;
}

.scw-switcher-wrap .row {
    margin: 0 -5px;
}

.scw-switcher-wrap .col-6 {
    padding: 5px;
}

/*! CSS Used keyframes */
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
