body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}

.starter-template {
    padding: 110px 15px 60px 15px;
    text-align: center;
    color: #fff;
    background: url('../img/innerslide1.jpg') no-repeat top center;
    background-size: cover;
    margin-bottom: 20px;
}

.starter-template > h1 {
    color: white;
}

.data {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
}

.data ul.nav-pills {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 30px;
}

.data .nav-pills li {
    display: table-cell;
    float: none;
    width: 20%;
}

@media (max-width: 768px) {
    .data .nav-pills li {
        width: 90%;
    }
}

.navbar {
    background: #fff;
    border-bottom: none;
    padding: 20px 0 20px 0
}

.navbar-brand {
    padding: 0;
}

.navbar-nav {
    float: right
}

.mac {
    display: none;
}

@media (max-width: 768px) {
    .navbar-nav {
        float: none
    }

    #footer {
        text-align: center
    }

    .mac {
        display: inline-block;
        margin-top: -5px;
    }
}

select {
    box-shadow: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.navbar-brand img {
    max-width: 245px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #333;
}

.navbar-inverse .navbar-toggle:focus .icon-bar, .navbar-inverse .navbar-toggle:hover .icon-bar {
    background-color: #fff
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #221e1f;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li.active > a:hover {
    color: #1e9e53;
    background: none;
}

.navbar-inverse .navbar-nav > li.active > a {
    color: #1e9e53;
    background: none;
}

.navbar-inverse .navbar-nav > li > a:focus {
    color: #1e9e53;
    background: none;
}

.nav-pills > li > a {
    color: #221e1f;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #1e9e53
}

select, input[type="text"], input[type="email"], input[type="password"] {
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
}

select, input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    outline: none;
}

input[type="submit"] {
    background: #1e9e53;
    padding: 10px 50px 10px 50px;
    color: #fff;
    border: none;
    margin-bottom: 30px;
    margin-top: 20px;
}

.teenuseblokk h2 {
    font-size: 26px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 28px;
}

.teenuseblokk {
    text-align: center;
    float: left;
    margin: 3px;
    padding: 40px;
    min-height: 285px;
    background: #cfcfcf;
}

.col-lg-4.col-md-4.teenuseblokk {
    width: 32.333333%;
}

.teenuseblokk2 {
    background: #e0c945;
}

.teenuseblokk1 {
    background: #4cb66c;
}

.teenuseblokk17 {
    background: #34b0e6;
}

.teenuseblokk18 {
    background: #c3c3c3;
}

.teenuseblokk4 h2, .teenuseblokk5 h2, h2 {
    font-size: 26px;
    color: #221e1f;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 28px;
}

.valgehind {
    color: #fff !important;
    font-weight: 600;
    font-size: 26px;
}

button.valgenupp {
    background: none;
    padding: 8px 40px 6px 40px;
    color: #fff;
    font-size: 14px;
    font-family: 'Circe-Regular', sans-serif;
    border: 1px solid #fff;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    text-transform: uppercase;
}

a.mustnupp {
    background: #2a2523;
    padding: 8px 40px 6px 40px;
    color: #fff;
    font-size: 14px;
    font-family: 'Circe-Regular', sans-serif;
    border: 1px solid #2a2523;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    text-transform: uppercase;
    cursor: pointer;
}

a.mustnupp:hover {
    background: none;
    border: 1px solid #2a2523;
    color: #000;
    text-decoration: none;
}

.musthind {
    color: #221e1f !important;
    font-weight: 600;
    font-size: 26px;
}

button.valgenupp:hover {
    background: #fff;
    color: #333;
    text-decoration: none;
}

table {
    width: 100%
}

table th {
    color: #8b969c;
    font-size: 11px;
    font-weight: 400;
    padding: 10px 3px 10px 10px;
    text-transform: uppercase;
}

table.ordered {
    font-family: "Lato", sans-serif;
    margin-top: 60px;
    width: 100%;
}

table td {
    color: #3c4044;
    font-size: 14px;
    padding: 20px 3px 20px 10px;
}

section.content {
    margin-top: 60px;
}

.boughttext {
    color: #2b52d1;
}

.payment {
    text-align: center;
    padding: 50px 0 0 0;
}

.mk {
    margin-top: 50px;
    max-width: 220px;
}

#footer {
    background: #1e9e53;
    clear: both;
}

.redtext {
    color: #ea0e14;
}

.donetext {
    color: #1e9e53
}

p.materials {
    padding: 40px 0 20px 0;
    font-size: 14px;
    line-height: 24px;
}

.otsing {
    margin-top: 30px;
    margin-bottom: 30px;
    float: right;
}

.red {
    color: red;
}

.radiobuttonlabel {
    font-size: 20px;
    border: 1px;
}

.panel-default > .panel-heading {
    background-color: #1e9e53;
    color: #fff;
    padding: 12px;
    padding-bottom: 6px;
    margin-bottom:12px;
    border-radius: 3px;

}

.has-error, select.has-error {
    border: 1px solid red;
    background: #fff5f5;
}

table {
    display: table
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.log-in-title, .registration-title {
    font-weight: 500;
    color: #3d3d3d;
}

.info-text {
    padding-top: 100px;
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    .login-containter, .registration-container {
        width: 100%;
    }

    .info-text {
        padding-top: 20px;
    }
}

.login-containter {
    border: 0.5px solid #f2f2f2;
    background-color: #f2f2f2;
}

.registration-container {
    border: 0.5px solid #f9f9f9;
    background-color: #f9f9f9;
}

#login, #registration {
    display: flex;
    flex-direction: column;
}

.auth-container {
    display: flex;
    flex-wrap: wrap;
}

.new-worker-input-info {
    padding-top: 10px;
}

#player-overlay {
    width: 100%;
    margin-top: 4%;
}

video {
    max-width: 100%;
    max-height: 100%;
}

/* Language selection menu begin */
@media all {
    #lang_sel {
        height: 32px;
        position: relative;
        font-family: verdana, arial, sans-serif;
        display: inline-block;
    }

    #lang_sel ul {
        padding: 0 !important;
        margin: 0 !important;
        list-style-type: none !important;
    }

    #lang_sel ul li:hover ul {
        visibility: visible;
    }

    #lang_sel ul ul {
        width: 149px;
        visibility: hidden;
        position: absolute;
        height: 0;
        top: 25px;
        left: 0;
        border-top: 1px solid #cdcdcd;
    }

    #lang_sel ul ul a {
        background: #ffffff;
        color: #444444;
        height: auto;
        line-height: 1em;
        padding: 5px 10px;
        border-width: 0 1px 1px 1px;
    }

    #lang_sel ul ul a:visited {
        background: #ffffff;
        color: #444444;
        height: auto;
        line-height: 1em;
        padding: 5px 10px;
        border-width: 0 1px 1px 1px;
    }

    #lang_sel li {
        float: left;
        width: 149px;
        position: relative;
        padding: 0 !important;
        margin: 0 !important;
        list-style-type: none !important;
    }

    #lang_sel li:before {
        content: '' !important;
    }

    #lang_sel a {
        display: block;
        font-size: 11px;
        text-decoration: none !important;
        color: #444444;
        border: 1px solid #cdcdcd;
        background: #fff;
        padding-left: 10px;
        line-height: 24px;
    }
}

@media all {

    a:focus {
        outline: thin dotted;
    }

    a:active, a:hover {
        outline: 0;
    }

    *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    a {
        color: #43362f;
        text-decoration: none;
    }

    a:hover, a:focus {
        color: #000;
    }

    a:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .lang_sel_sel {
        color: #1e9e52 !important;
        font-weight: 600 !important;
        font-family: 'Lato', sans-serif !important;
    }

    .keeleala {
        top: 12px;
    }

    #lang_sel a {
        padding-left: 0;
        padding-right: 5px;
    }

    #lang_sel li {
        width: 50px;
        text-align: center;
    }

    #lang_sel a.lang_sel_sel, #lang_sel a.lang_sel_sel:visited {
        background-color: transparent;
        border-color: #1e9e52;
    }

    #lang_sel ul ul {
        width: 50px;
    }

    #lang_sel ul ul li a {
        border: 1px solid #1e9e52 !important;
        color: #1e9e52 !important;
    }
}
/* Language selection menu end */

.primary-menu-open .svg-trigger {
    transform: rotate(45deg)
}

.primary-menu-open .svg-trigger path:nth-child(1),.primary-menu-open .svg-trigger path:nth-child(3) {
    stroke-dashoffset: -64px
}

.primary-menu-open .svg-trigger path:nth-child(2) {
    transform: rotate(90deg)
}

.modal-header {
    justify-content: flex-start;
}

.modal-header .close {
    margin-left: 2px;
    margin-right: 8px;
    padding-top: 25px;
}

.btn-danger {
    background: #a01e24;
    border-color: #81191e;
}

.btn-danger:hover {
    background: #81191e;
}

.btn-primary {
    background: #1e6da0;
    border-color: #165173;
}

.btn-primary:hover {
    background: #165173;
}

.btn-info {
    background: #1ea097;
    border-color: #1ea097;
}

.btn-info:hover {
    background: #1ea097;
}

.btn-success {
    background: #1ea054;
    border-color: #177a3f;
}

.btn-success:hover {
    background: #177a3f;
}

.login-element {
    padding: 0;
}

.custom-login-padding {
    padding: 0 15%;
}